<br />

<div class="booyah-box-b col-10 offset-1">
  <h1>Add a new Destination</h1>

  <%= simple_form_for @destination, url: traveler_trip_destinations_path(@trip) do |f|%>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :photo %>
    <br />
    <%= f.submit "Add Destination", class: 'btn btn-primary' %>
    <br />
    <br />
  <% end %>
</div>